.about{
    font-family: 'Poppins',sans-serif;
  
    .about-content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .left{
            width: 45%;

            img{
                height: 400px;
                width: 400px;
                object-fit: cover;
                border-radius: 6px;
            }
        }

        .right{
            color: #fff;
            width: 55%;

            p{
                text-align: justify;
            }

            input{
                display: inline-block;
                background-color: #2c7ae7;
                font-weight: 500;
                color: #fff;
                font-size: 20px;
                padding: 1px 30px;
                margin-top: 20px;
                border-radius: 6px;
                border: 2px solid #2c7ae7;
                transition: all .3s ease;

                &:hover{
                    color: #2c7ae7;
                    background-color: #000;
                }
            }

            .text{
                font-size:25px;
                font-weight: 600;
                margin-bottom: 10px;

                span{
                    color: #2c7ae7;
                }
            }
        }
    }



        @media(max-width:1104px){
             .about-content .left img {
                 height: 350px;
                 width: 350px;
             }
        
        }

        @media(max-width:1003px){

            .container{
                padding: 0 23px;
            }
        }

        @media(max-width:947px){

             .about-content .column {
                width: 100%;
            }

            .about-content .left {
                display: flex;
                justify-content: center;
                margin: 0 auto 60px;
            }

            .about-content .right{
                flex: 100%;
            } 
    }
}
