.navbar{
        width: 100%;
        padding: 30px 0;
        position: fixed;
        z-index: 999;
        font-family:'Ubuntu',sans-serif;
        background-color: black;

       

     .navbar-items{
        display: flex;
        align-items: center;
        justify-content: space-between;
 

        .menu-btn{
            color: #fff;
            font-size: 23px;
            cursor: pointer;
            display: none;
        }   
     }

     .logo a{
        color: #fff;
        font-size: 35px;
        font-weight: 600;

        span{
            color: #2c7ae7;
        }
     }

     .menu li{
        list-style: none;
        display: inline-block;


        a {
               font-size: 18px;
               font-weight: 600;
               margin-left: 25px;
               color: #fff;
               cursor: pointer;
               
               transition: color .3s ease;

               &:hover{
                color: #2c7ae7;
               }
           }
        }

        @media(max-width:947px){
            .container{
              padding: 0 50px;
 
            }
          
             .navbar-items .menu-btn{
              display: block;
              z-index: 999;
            }
          
             .menu{
              position: fixed;
              height: 100vh;
              width: 100%;
              left: -100%;
              right: 0;
              top: 0;
              bottom: 0;
              background-color: #111;
              text-align: center;
              padding-top:80px;
              transition: all .3s ease;
            }
          
            
            .menu li{
              display: block;

              a{
               display: inline-block;
               margin: 20px 0;
               font-size: 25px;
             }
            }
          }

          @media(max-width:1003px){
            .container{
              padding: 0 23px;
            }
          }


    }
