.home{
    display: flex;
    height: 100vh;
    background-color: #000;
    color: #fff;
    min-height: 500px;
    font-family:'Ubuntu',sans-serif;
    

    .home-content{

        .text-1{
            font-size: 27px;

        }
        .text-2{
            font-size: 75px;
            font-weight: bold;
            margin-left: -3px;
   
        }
        .text-3{
            font-size: 45px;
            margin: 5px 0;

            span{
                color: #2c7ae7;
            }
        }

        a{
           display: inline-block;
           background-color: #2c7ae7;
           color: #fff;
           font-size: 25px;
           padding: 12px 36px;
           margin-top: 20px;
           border-radius: 6px;
           border: 2px solid #2c7ae7;
           transition: all .3s ease;

           &:hover{
            color: #2c7ae7;
            background-color: #000;
        }
        }
    }

    @media(max-width:947px){
        .container{
            padding: 0 50px;

            .home-content{
              .text-2{
                  font-size: 70px;
                  margin-left: 0;
              }
              .text-3{
                  font-size: 35px;
              }

              a{
                  font-size: 23px;
                  padding: 10px 30px;
              }
          }

        }
    }

    @media(max-width:690px){
        .container{
            padding: 0 23px;

            .home-content{
              .text-1{
                text-align: center;
            }
              .text-2{
                  font-size: 60px;
                  text-align: center;
              }
              .text-3{
                  font-size: 32px;
                  text-align: center;
              }
              a{
                font-size: 20px;
              
                display: flex;
                justify-content: center;
            }
          }
        }
    }

    @media(max-width:500px){
        .container{
            padding: 0 22px;

            .home-content{
            
              .text-2{
                  font-size: 50px;
                 
              }
              .text-3{
                  font-size: 23px;
        
              }
          }
        }
    }

    @media(max-width:320px){
        .container{
            padding: 0 0;
        }
    }
}
